<div>
    <h2>User Details</h2>
    <p>Username: @Model.Username</p>
    <p>Name: @Model.Name</p>
    <p>Surname: @Model.Surname</p>
    <p>Email: @Model.Email</p>
    <p>Phone Number: @Model.PhoneNumber</p>
    <p>Role: @Model.Role</p>
    <a asp-action="Edit" asp-route-username="@Model.Username">Edit</a>
</div>
